:root{
    --primary-color:#0e0d0b;
    --secondary-color:#d9f0eb;
    --accent1-color:#928b68;
    --accent2-color:#fae3e3;
    --accent3-color:#6AB4DC;
    --heading-font: "Pacifico", cursive;
    --body-font: "Amaranth", sans-serif;
}

header, main, footer{
    width: 1200px;
    margin: 0 auto;
    
}

header{
    display: grid;
    grid-template-columns: 1fr 2fr ;
    background-color: var(--accent3-color);
    color: var(--accent3-color);

}
 nav{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
 }
 nav a{
    color: var(--primary-color);
 }
 nav img{
    margin-left: 5em;
 }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    font-weight: 400;
    
    
}



h1, h2{
    font-family: var(--heading-font);
    font-weight: 400;
    color: var(--primary-color);
    

}

nav, p, section, article{
    margin: 15px;
    padding: 8px;
}

.hero{
    width: 1200px;
    height: auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;

    
}

.heroimage{
    grid-area: 1/1/4/4;
    width:100%;
    height:auto;
}
.hero h1{
    grid-column: 1/4;
    grid-row: 1/2;
    width:100%;
    padding: 16px;
    text-align: center;
    font-weight: 700;
    color: rgb(206, 229, 158);
}
.hero article{
    grid-column: 1/4;
    grid-row: 2/3;
    place-items: center;
    margin-top: 15px;
   
}
.hero p{
    background-color:var(--accent3-color);
    border: 1px solid blue;
    border-radius: 10px;
    color:black;
    padding: 15px;
    padding-left:25px;
    
    
}

.articleimage {
    float: right;
    width:130px;
    height: 65px;
    margin-top: 25px;
    margin-right: 160px;
    
    box-shadow: 0 0 30px gray;
    
    
}

.history{
    margin-top: 80px;
    width: 1200px;
    height: auto;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 2fr 1fr 2fr;
    margin-top: 10px;
    background-color: var(--secondary-color);
}

.firstpara{
    grid-column: 1/2;
    grid-row: 2/3;
    
} 
.historyhead{
    grid-column: 2/3 ;
    grid-row: 1/2;
    margin-bottom: 3px;
    justify-self: center;
}

.history img{
    grid-column: 2/3;
    grid-row: 2/3;
    
}
.secondpara{
    grid-column: 3/4 ;
    grid-row: 2/3;
}

.adventure{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: var(--accent2-color);
    width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    gap: 10px ;
   
}

.raftone{
    grid-column: 1/2;
}
.rafttwo{
    grid-column: 2/3;
    
}
.raftthree{
    grid-column: 3/4;
}
.raftfour{
    grid-column: 4/5;
    
}
.raftfive{
    grid-column: 5/6;
}

.adventure h2{
    margin-top: 10px;
    padding-bottom: 20px;
    grid-column: 1/6 ;
    text-align: center;
}

.adventure img{
    margin-top: 10px;
    padding-bottom: 20px;
    width:100%;
    height: auto; 
}

footer{
display: grid;
border-top:1px solid black ;
background-color: var(--accent1-color);
margin: 2rem auto;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 100px;

}


footer p{
grid-column: 2/3;
text-wrap: nowrap;
align-self: center;

}
.wireframe{
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    color: #1a1617;
}
.wireframe:hover{
    color: crimson;
}

.socialmedia{
    grid-column: 3/3;
    grid-row: 1/2;
    display: flex;
    align-content: center;
    justify-content: center;
} 

.socialmedia a {
    text-decoration: none;    
}
iframe{
    border:0;
    margin-bottom: 0;
    
}

.contact-grid{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    background-color: var(--accent2-color);
   
}
.reach-us{
    margin-top: 50px;
    margin-left: 5em;
    
    
}
.reach-us p, span{
    margin-left: 0;
}
.contactinfo h2{
    margin-top: 30px;
}
span, .contact-grid{
    color: rgb(66, 50, 211);
}

.contact-grid aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contact-grid aside img{
    margin-top: 20px;
    border-radius: 100px;
    width: 200px;
    height: auto;
}

figcaption{
    margin-left: 2.5em;
}
.input, fieldset{
    margin-top: 20px;
}

.one{
    display: grid;
    grid-template-columns: 200px 1fr;
}
input[type="email"]{
    width: 258px;
}
.two{
    display: grid;
    grid-template-columns: 200px 1fr;
    
}
fieldset{
 padding: 10px;
 height: 260px;
}
.six{
    display: grid;
    grid-template-columns:434px;
    grid-template-rows: 20px 30px;
    row-gap: 8px;
}
.six label{
    grid-row: 1;
}
.six textarea{
    grid-row: 2;
    width: 100%;
    height: 4em;
}
.seven{
    display: grid;
    grid-template-columns: 15px 334px;
    gap: 10px;
}
.form-button{
    display: inline-block;
    margin-top: 20px;
    margin-left: 23em;
    border: 3px solid seashell;
    border-radius: 30px;
    padding: 15px;
    background-color: #6AB4DC;
}
.form-button:hover{
    background-color: #5e574a;
}
