:root{
    --primary-color:#6AB4DC;
    --secondary-color:#c9f5ea;
    --accent1-color:#928b68;
    --accent2-color:#fff2f2;
    --heading-font: "Pacifico", cursive;
    --body-font: "Amaranth", sans-serif;
}

header, main, footer{
    width: 840px;
    margin: 0 auto;
}
header{
    display: grid;
    grid-template-columns: 1fr 2fr ;
    background-color: var(--primary-color);

}
 nav{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
 }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    font-weight: 400;
    color: var(--accent1-color);
    
}



h1, h2{
    font-family: var(--heading-font);
    font-weight: 400;
    color: var(--primary-color);

}

nav, p, section, article{
    margin: 15px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}

.hero{
    width: 840px;
    height: auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;

    
}

.heroimage{
    grid-area: 1/1/4/4;
    width:100%;
    height:auto;
}
.hero h1{
    grid-column: 1/4;
    grid-row: 1/2;
    width:100%;
    padding: 16px;
    text-align: center;
    opacity:0.8;
    color: #b7e5fd;
}
.hero article{
    grid-column: 1/4;
    grid-row: 2/3;
    opacity:0.9;
}

.hero p{
    background-color:var(--primary-color);
    color:black;
    padding: 15px;
    padding-left:25px;
    
    
}

.articleimage {
    float: right;
    width:150px;
    margin-top: 18px;
    margin-right: 20px;
    box-shadow: 0 0 30px gray;
    
    
}

.history{
    margin-top: 80px;
    width: 840px;
    height: auto;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 2fr 1fr 2fr;
    margin-top: 10px;
    background-color: var(--secondary-color);
}

.firstpara{
    grid-column: 1/2;
    grid-row: 2/3;
    
} 
.historyhead{
    grid-column: 2/3 ;
    grid-row: 1/2;
    margin-bottom: 3px;
    justify-self: center;
}

.history img{
    grid-column: 2/3;
    grid-row: 2/3;
    
}
.secondpara{
    grid-column: 3/4 ;
    grid-row: 2/3;
}




.adventure{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: var(--accent2-color);
    width: 840px;
    margin: 0 auto;
    margin-top: 10px;
    gap: 10px ;
   
}


.raftone{
    grid-column: 1/2;
}
.rafttwo{
    grid-column: 2/3;
    
}
.raftthree{
    grid-column: 3/4;
}
.raftfour{
    grid-column: 4/5;
}
.raftfive{
    grid-column: 5/6;
}

.adventure h2{
    margin-top: 10px;
    padding-bottom: 20px;
    grid-column: 1/6 ;
    text-align: center;
}

.adventure img {
    margin-bottom: 30px;
    width: 100%;
    height: auto;
}

