:root{
    --color:darkblue;
    --padding:20px
    
}
nav {
    background-color: var(--color);
    padding: 10px;
}
nav a{
    color: white;
    display: block;
    padding: var(--padding);
}
h1 {
    color: var(--color);
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
main{
    max-width: 100%;
}
aside{
    width: 50%;
    margin:0;
    border: 1px dotted black;
    padding:0px var(--padding) ;
    background-color:#aeff00;
    color:black;
}
aside img{
    width: 200px;
    height: auto;   
}


footer{margin-top: 15px ;
       border-top: 2px double black ;
       text-align: center;

}